export(bandSpectra, gslcca, readSpectra, signatures, snapshot, varySmooth)

import(colorspace) #rainbow_hcl, hex, polarLUV
import(lattice) # xyplot, trellis.[un]focus, trellis.currentLayout
import(Matrix) #bdiag, sparse matrix functions

importFrom(MASS, ginv)
importFrom(nnet, class.ind)
importFrom(genefilter, rowttests)

#S3method(formula, gslcca)
#S3method(coef, gslcca)
S3method(fitted, gslcca)
S3method(plot, gslcca)
S3method(print, gslcca)
S3method(summary, gslcca)
S3method(print, summary.gslcca)
S3method(plot, varySmooth)

