export(gslcca, varySmooth)

import(colorspace) #rainbow_hcl, hex, polarLUV
import(lattice) # xyplot, trellis.[un]focus, trellis.currentLayout

importFrom(nnet, class.ind)

#S3method(formula, gslcca)
#S3method(coef, gslcca)
S3method(plot, gslcca)
S3method(print, gslcca)
S3method(summary, gslcca)

S3method(plot, varySmooth)

